<!doctype html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" >
<html>
<head>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css?v=12">
</head>
<body ng-app="geneInfoApp">
    <div ng-controller="geneInfoCtrl as gi">
    <div class="row" style="padding-left:20px;padding-right:20px">
        <form>
            <!--div class="col-xs-3">
                <div class="input-group">
                    <textarea id="geneName" rows="5" name="geneName" class="form-control" placeholder="Enter gene name" ng-model="formInfo.gene"/>   </textarea> 
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="gi.find()">Find</button>
                    </span>
                </div>
            </div-->                                            
         
            <div class="col-xs-3">
                <div class="input-group">
                    <input type="text" id="fName" name="fName" class="form-control" placeholder="Enter Transposon file" ng-model="formInfo.fname"/>    
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="gi.transposonSearch()">Parse</button>
                    </span>
                </div>
            </div>   
        
        </form>
        
        <div ng-show="message" style="text-align:center" ng-cloak>        
            <span ng-model="message" style="background-color:pink;margin-top:10px;">{{ message }}</span>
            
             <button ng-show="finished" class="btn btn-default"
              ng-csv="getResults2" filename="table.csv" csv-header="getHeader2()" field-separator=","
              >Export to CSV</button>
        </div>     
    
    </div>
    <div class="row" style="padding-left:20px; padding-right:20px; margin-right:20px;" ng-model="transposons" ng-show="transposons.length" ng-cloak id="transposons">
        <table ng-show="finished" class="width:50%" style="margin-left:15px;">
            <tr><th>Coding transcripts</th>
                <td class="flank5" style="padding:10px"> 5' Flank </td>
                <td class="utr5" style="padding:10px"> 5' UTR </td>
                <td class="cds" style="padding:10px"> Coding sequence </td>
                <td class="utr3" style="padding:10px"> 3' UTR </td>
                <td class="flank3" style="padding:10px"> 3' Flank </td>
            </tr>
            <tr><th>Non-coding transcripts</th>
                <td class="flank5" style="padding:10px"> 5' Flank </td>
                <td class="ncds" style="padding:10px;text-align:center;" colspan="3"> Non-coding transcript</td>
                <td class="flank3" style="padding:10px"> 3' Flank </td>
            </tr>
        </table>
        <span ng-show="finished">
            <em>Show transcript data:</em> <input type="checkbox" ng-model="formInfo.showTranscript" name="showtranscript"/>
        </span>
    
        <table class="table table-condensed table-striped table-bordered" style="margin-left:15px;margin-right:25px;padding-right:10px;">
            <tr>
                <th>Sample</th>
                
                <th colspan="8">Breakpoint</th>                
                <th colspan="2"> Gene </th>
                <th colspan="8" ng-show="finished && formInfo.showTranscript">e! Transcript</th>
            </tr>
            <tr>
                <th>&nbsp;</th>                
                <th>&nbsp;</th>
                <th colspan="2">Positive</th>
                <th colspan="2">Negative</th>         
                <th colspan="2">Support</th>
                <th>&nbsp;</th>                
                
                <th colspan="2">&nbsp;</th>                
                <th ng-show="finished && formInfo.showTranscript">ID</th>
                <th ng-show="finished && formInfo.showTranscript">Region</th>
                <th colspan="2" ng-show="finished && formInfo.showTranscript">5'UTR</th>
                <th colspan="2" ng-show="finished && formInfo.showTranscript">CDS</th>
                <th colspan="2" ng-show="finished && formInfo.showTranscript">3'UTR</th></tr>
            </tr>
            <tr>
                <th class="sortable" ng-class="selectedCls('id')" ng-click="changeSorting('id')">ID</th>
                
                <th class="sortable"  ng-class="selectedCls('r')" ng-click="changeSorting('r')">Region</th>
                <th>Location</th>
                <th>Position</th>                
                <th>Location</th>
                <th>Position</th>
                <th class="sortable" ng-class="selectedCls('rpos')" ng-click="changeSorting('rpos')"> Start </th>
                <th class="sortable" ng-class="selectedCls('rneg')" ng-click="changeSorting('rneg')"> End </th>
                <th>Ori</th>            
                <th class="sortable" ng-class="selectedCls('g')" ng-click="changeSorting('g')">Name</th>
                <th>Ori</th>
                <th ng-show="finished && formInfo.showTranscript">&nbsp;</th>
                
                <th ng-show="finished && formInfo.showTranscript">&nbsp;</th>
                <th ng-show="finished && formInfo.showTranscript">Start</th><th ng-show="finished && formInfo.showTranscript">End</th>
                <th ng-show="finished && formInfo.showTranscript">Start</th><th ng-show="finished && formInfo.showTranscript">End</th>
                <th ng-show="finished && formInfo.showTranscript">Start</th><th ng-show="finished && formInfo.showTranscript">End</th>
            </tr>

            <tr ng-repeat="t in transposons | orderBy:sortColumn:sortDescending">
                <td>{{t.id}}</td>
                <td>{{t.r}}</td>
                <td>{{t.s | number}}</td>
                <td>
                    <table><tr><td class="{{t.scol}}"> {{t.spos}} </td><td>&nbsp;</td><td> {{t.posS}} </td></tr></table>
                </td>                
                
                <td>{{t.e | number}}</td>
                <td>
                <table><tr><td class="{{t.ecol}}"> {{t.epos}} </td><td>&nbsp;</td><td> {{t.posE}} </td></tr></table>
                </td>
                <td>{{t.rpos}}</td>
                <td>{{t.rneg}}</td>                
                <td>{{t.o > 0 ? '+' : '-'}}</td>
                <td>{{t.g}}</td>
                <td class="{{t.o == t.ori ? 'ok' : 'diff'}}">{{t.ori ? (t.ori > 0 ? '+' : '-') : ''}}</td>    
                <td ng-show="finished && formInfo.showTranscript"><a href="{{t.turl}}" target="_blank">{{t.tid}}</a></td>
                <td class="{{t.gr == t.r ? 'ok' : 'fail'}}" ng-show="finished && formInfo.showTranscript">{{t.gr}}</td>
                <td ng-show="finished && formInfo.showTranscript">{{t.utr5s | number}}</td>
                <td ng-show="finished && formInfo.showTranscript">{{t.utr5e | number}}</td>
                <td ng-show="finished && formInfo.showTranscript">{{t.cdss | number}}</td>
                <td ng-show="finished && formInfo.showTranscript">{{t.cdse | number}}</td>
                <td ng-show="finished && formInfo.showTranscript">{{t.utr3s | number}}</td>
                <td ng-show="finished && formInfo.showTranscript">{{t.utr3e | number}}</td>

            
            </tr>
        </table>
    </div>
        
        
        
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="js/ng-csv.min.js"></script>
    <script type="text/javascript" src="js/main.js?v=12"></script>
  
</body>
</html>