<!doctype html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" >
<html>
<head>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body ng-app="geneInfoApp">
    <div ng-controller="geneInfoCtrl as gi">
    <div class="row" style="padding-left:20px;padding-right:20px">
        <form>
            <!--div class="col-xs-3">
                <div class="input-group">
                    <textarea id="geneName" rows="5" name="geneName" class="form-control" placeholder="Enter gene name" ng-model="formInfo.gene"/>   </textarea> 
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="gi.find()">Find</button>
                    </span>
                </div>
            </div-->                                            
         
            <div class="col-xs-3">
                <div class="input-group">
                    <input type="text" id="fName" name="fName" class="form-control" placeholder="Enter Transposon file" ng-model="formInfo.fname"/>    
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="gi.transposonSearch()">Parse</button>
                    </span>
                </div>
            </div>   
        
        </form>
        
        <div ng-show="message" style="text-align:center" ng-cloak>        
            <span ng-model="message" style="background-color:pink;margin-top:10px;">{{ message }}</span>
            
             <button ng-show="finished" class="btn btn-default"
              ng-csv="getResults2" filename="table.csv" csv-header="getHeader2()" field-separator=","
              >Export to CSV</button>
        </div>     
    
    </div>
    <div class="row" style="padding-left:20px; padding-right:20px; margin-right:20px;" ng-model="transposons" ng-show="transposons.length" ng-cloak id="transposons">
        <table class="width:50%" style="margin-left:15px;">
            <tr>
                <td class="flank5" style="padding:10px"> 5' Flank </td>
                <td class="utr5" style="padding:10px"> 5' UTR </td>
                <td class="cds" style="padding:10px"> CDS </td>
                <td class="utr3" style="padding:10px"> 3' UTR </td>
                <td class="flank3" style="padding:10px"> 3' Flank </td>
            </tr>
        </table>
        <span ng-show="finished">
            <em>Hide transcript data:</em> <input type="checkbox" ng-model="formInfo.showTranscript" name="showtranscript"/>
        </span>
    
        <table class="table table-condensed table-striped" style="margin-left:15px;margin-right:25px;padding-right:10px;">
            <tr>
                <th rowspan="3"></th>
                <th rowspan="3">Sample</th>
                <th rowspan="3">Region</th>
                <th colspan="4" rowspan="2">Breakpoint</th>
                <th colspan="2" rowspan="2">Support</th>
                <th rowspan="3"> Gene </th>
                <th colspan="8" ng-show="formInfo.showTranscript">e! Transcript</th>
            </tr>
            <tr>
                <th rowspan="2" ng-show="formInfo.showTranscript">ID</th>
                <th rowspan="2" ng-show="formInfo.showTranscript">Region</th>
                <th colspan="2" ng-show="formInfo.showTranscript">5'UTR</th>
                <th colspan="2" ng-show="formInfo.showTranscript">CDS</th>
                <th colspan="2" ng-show="formInfo.showTranscript">3'UTR</th></tr>
            </tr>
            <tr>
                <th colspan="2">+</th>
                <th colspan="2">-</th>                
                <th>+</th>
                <th>-</th>                
                            <th ng-show="formInfo.showTranscript">Start</th><th ng-show="formInfo.showTranscript">End</th>
                            <th ng-show="formInfo.showTranscript">Start</th><th ng-show="formInfo.showTranscript">End</th>
                            <th ng-show="formInfo.showTranscript">Start</th><th ng-show="formInfo.showTranscript">End</th>
                        </tr>

            <tr ng-repeat="t in transposons track by $index">
                <td>{{$index}}</td>
                <td>{{t.id}}</td>
                <td>{{t.r}}</td>
                <td>{{t.s}}</td>
                <td>
                    <table><tr><td class="{{t.scol}}"> {{t.spos}} </td><td>&nbsp;</td><td> {{t.posS}} </td></tr></table>
                </td>                
                
                <td>{{t.e}}</td>
                <td>
                <table><tr><td class="{{t.ecol}}"> {{t.epos}} </td><td>&nbsp;</td><td> {{t.posE}} </td></tr></table>
                </td>
                <td>{{t.rpos}}</td>
                <td>{{t.rneg}}</td>                
                <td>{{t.g}}</td>
                <td ng-show="formInfo.showTranscript">{{t.tid}}</td>
                <td ng-show="formInfo.showTranscript">{{t.gr}}</td>
                <td ng-show="formInfo.showTranscript">{{t.utr5s}}</td>
                <td ng-show="formInfo.showTranscript">{{t.utr5e}}</td>
                <td ng-show="formInfo.showTranscript">{{t.cdss}}</td>
                <td ng-show="formInfo.showTranscript">{{t.cdse}}</td>
                <td ng-show="formInfo.showTranscript">{{t.utr3s}}</td>
                <td ng-show="formInfo.showTranscript">{{t.utr3e}}</td>

            
            </tr>
        </table>
    </div>
        
        
        
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="js/ng-csv.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  
</body>
</html>